<!DOCTYPE html>
<html>
<head>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<title>Home</title>
</head>
<body>
	<div class="text-white font-bold pr-2"><button type="button">Register</button>
	</div>
	<div class="text-white font-bold pr-2"><button type="button">List</button>
	</div>
</body>
</html>